      <%
        for ( var i = 0; i < images.length; i++){ %>
          <p>
            <%=images[i].imagedesc%>
            <image class="img-polaroid" width="100%" src="<%=images[i].imagesrc%>"/>
          </p>
          
      <%  }
      %>