<div class="span6">
    <div class="hero-unit">
        <h3>Accessories for <%=brand%> mobile phone.</h3>
        <image src="/mobile_phone_logo/<%=brand%>.jpg">
        <a href="#" class="btn btn-primary btn-large">
            View
        </a>
    </div>
</div>